/*
    Theme Name: Hercules
    Theme URI: http://hercules.com
    Description: Hercules Theme
    Version: 1.4.2
    Author: Sean Cooper (@)
    Author URI: http://successean.com
*/


/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/

@font-face {
    font-family: 'apercu_regular_pro';
    src: url('fonts/apercu_regular_pro.eot');
    src: local('☺'), url('fonts/apercu_regular_pro.woff') format('woff'), url('fonts/apercu_regular_pro.ttf') format('truetype'), url('fonts/apercu_regular_pro.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apercu_medium_pro';
    src: url('fonts/apercu_medium_pro.eot');
    src: local('☺'), url('fonts/apercu_medium_pro.woff') format('woff'), url('fonts/apercu_medium_pro.ttf') format('truetype'), url('fonts/apercu_medium_pro.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('fonts/Raleway-Bold.eot');
    src: local('☺'), url('fonts/Raleway-Bold.woff') format('woff'), url('fonts/Raleway-Bold.ttf') format('truetype'), url('fonts/Raleway-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Raleway-Medium';
    src: url('fonts/Raleway-Medium.eot');
    src: local('☺'), url('fonts/Raleway-Medium.woff') format('woff'), url('fonts/Raleway-Medium.ttf') format('truetype'), url('fonts/Raleway-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Light';
    src: url('fonts/Raleway-Light.eot');
    src: local('☺'), url('fonts/Raleway-Light.woff') format('woff'), url('fonts/Raleway-Light.ttf') format('truetype'), url('fonts/Raleway-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos-Headline-Medium';
    src: url('fonts/Tiempos-Headline-Medium.eot');
    src: local('☺'), url('fonts/Tiempos-Headline-Medium.woff') format('woff'), url('fonts/Tiempos-Headline-Medium.ttf') format('truetype'), url('fonts/Tiempos-Headline-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: "Flaticon";
    src: url("fonts/flaticon.eot");
    src: url("fonts/flaticon.eot#iefix") format("embedded-opentype"),
    url("fonts/flaticon.woff") format("woff"),
    url("fonts/flaticon.ttf") format("truetype"),
    url("fonts/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
        font-size: 16px;
font-style: normal;
}.flaticon-fastforward4:before {
    content: "\e000";
}
.flaticon-magnifying47:before {
    content: "\e001";
}
.flaticon-smiling36:before {
    content: "\e002";
}
.flaticon-spanner9:before {
    content: "\e003";
}
.flaticon-washing11:before {
    content: "\e004";
}








/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
}

/* html element 62.5% font-size for REM use */
html {
    font-size:62.5%;
}
body {
    font-family: 'apercu_regular_pro';
    color:#231f20;
    overflow-x:hidden;
}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
    max-width:100%;
    vertical-align:bottom;
}
a {
    color:rgba(0, 174, 175, 1);
    text-decoration:none;
}
a:hover {
    color:#444;
}
a:focus {
    outline:0;
}
a:hover,
a:active {
    outline:0;
}
input:focus {
    outline:0;
    border:1px solid #04A4CC;
}
ul, li {
    text-indent: none;
    list-style-type: none;
    padding: 0;
    margin:0;
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
    max-width:1280px;
    width:95%;
    margin:0 auto;
    position:relative;
}

.siteWrapper {
    background: #f7f7f7;
}
/* nav */
.nav {
    text-align: center;
}


/*------------------------------------*\
    HEADER
\*------------------------------------*/
.header {
    width: 100%;
    height: 125px;
    margin: 0 auto;
    background: #fff;
    border-top: 0;
    position:absolute;
    z-index: 9999;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
.headerTopWrapper {
    padding: 20px 5% 15px;
    border-bottom: 3px solid #efefee;

}

.logo {
    display: inline-block;
    margin-right: 25px;
}
.logoImg {
    width: 100%;
}

.headerLeft {
    display: inline-block;
    vertical-align: top;
}
#tollFree {
    font-size: 11px;
    font-family: 'apercu_regular_pro';
    font-weight: normal;
    text-transform: uppercase;
    color: #231f20;
    opacity: 0.6;
}
#tollNumber {
    font-size: 16px;
    font-family: 'apercu_regular_pro';
    font-weight: normal;
    color: #231f20;
}

.headerRight {
    float: right;
    display: inline-block;
}
.siteSearchDiv {
    position: relative;
    margin-right: 20px;
}
input.siteSearch {
    height: 26px;
    width:154px;
    border: 1.5px solid #eaeae9;
    font-size: 12px;
    color: #9a9a9a;
    text-align: left;
    text-transform: uppercase;
    margin-right: 0;
    text-indent: 6px;
}
form#searchform {
    display: inline-block;
}
input#searchsubmit {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: 0;
    font-size: 12px;
    color:#fff;
}
input#searchsubmit:hover {
    background-color: #27c762;
}
.contactBtn {
    height:30px;
    width:154px;
    border: 0;
    border-radius: 5px;
    font-size: 12px;
    background: #27c762;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    -moz-box-shadow:    inset 0 -2px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: inset 0 -2px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 -2px 0px rgba(0, 0, 0, 0.08);
}
.revalueBtn {
    height:30px;
    width:154px;
    border: 0;
    border-radius: 5px;
    font-size: 12px;
    background: #333;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    -moz-box-shadow:    inset 0 -2px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: inset 0 -2px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 -2px 0px rgba(0, 0, 0, 0.08);
    margin-right: 10px;
}

.headerBottomWrapper {
    padding-top: 8px;
}

#menu-header-menu {
    overflow:hidden;
    width: 100%;
    padding: 0;
}
.menu-item {
    width: 18%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-top: 10px;
}
.menu-item a {
    font-size: 14px;
    font-family: 'apercu_regular_pro';
    font-weight: normal;
    color: #231f20;
    text-transform: uppercase;
}
.menu-item a:hover {
    color:#178e9c;
}

@media only screen and (min-width:601px) {
li.menu-item-has-children {
    height: 45px;
}
ul.sub-menu {
    display: none;
    position: absolute;
    text-align: left;
    padding-bottom: 10px;
    top:125px;
    min-width:180px;
    background-color: #fff;
    border-top: 2px solid #178e9c;
    z-index: 999;
}
ul.sub-menu li {
    width: 90%;
    text-align: left;
    padding-top: 10px;
    display: block;
    padding-left:15px;
    font-size: 10px;
}
ul.sub-menu li a {
    color:#000;
    text-transform: capitalize;
}
li.menu-item-has-children:hover > ul.sub-menu {
    display: block;
}

}


.proposalBtn {
    margin-right: 10px;
    float: right;
    height:30px;
    width:154px;
    border: 0;
    font-size: 11px;
    font-family: 'Raleway-Medium';
    background: rgba(0, 174, 175, 0.8);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.proposalBtn:hover {
    background: rgba(0, 174, 175, 1);
}
.requestServiceBtn {
    float: right;
    height:30px;
    width:154px;
    border: 0;
    font-size: 11px;
    font-family: 'Raleway-Medium';
    background: rgba(128, 195, 66, 0.8);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.requestServiceBtn:hover {
    background:rgba(128, 195, 66, 1);
}


/*------------------------------------*\
    SEARCH PAGE
\*------------------------------------*/
.searchBox h2{
    font-size: 18px;
    font-family: 'Raleway-Light';
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding-bottom: 8px;
    border-bottom: 1px solid #231f20;
    margin-bottom: 20px;
}
.searchBox h2 a:hover {
    color:rgba(0, 174, 175, 1);
}
body.search-results article{
    margin-bottom: 20px;
}
body.search-results .pagination {
    text-align: center;
    font-size: 24px;
}
body.search-results .pagination a:hover {
    color:rgba(0, 174, 175, 1);
}

/*------------------------------------*\
    FRONT PAGE
\*------------------------------------*/

.slider h1 {
    position: absolute; 
    top:230px;
    width: 100%;
    color:#fff;
    font-family: 'Tiempos-Headline-Medium';
    -webkit-font-smoothing: antialiased;
    font-size: 46px;
    letter-spacing: 0.075em;
    text-align: center;
}
.pageWrapper {
    width:980px;
    margin: 0 auto;
}
.serviceBoxes {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}
.requestServiceBox {
    display: inline-block;
    position: relative;
    border-radius: 2px;
    width:430px;
    height:230px;
    margin: 0 auto;
    margin-top: -85px;
    margin-right: 10em;
    background: #fff;
    -moz-box-shadow: inset 0 0 0 0 #00b9cf;
    -webkit-box-shadow: inset 0 0 0 0 #00b9cf;
    box-shadow: inset 0 0 0 0 #00b9cf;
    -webkit-transition: all ease 1.5s;
    -moz-transition: all ease 1.5s;
    transition: all ease 1.5s;
}
.requestServiceBox:hover {
    box-shadow: inset 0 280px 0 0 #00b9cf;
}
.requestServiceBox:hover > .requestServiceBottom p{
    color:#fff;
}
.requestServiceTop {
    padding-top: 45px;
    padding-left: 30px;
    height:150px;
    background: #00b9cf;
}
.requestServiceTop h2 {
    color:#fff;
    text-align: left;
    font-size: 24px;
    padding-bottom: 10px;
}
.requestServiceTop p {
    color:#fff;
    font-size: 14px;
    text-align: left;
    width: 70%;
    line-height: 1.4em;
    display: inline-block;
    vertical-align: top;
}
.requestServiceTop img {
    text-align: right;
    width: 70px;
    margin-top: 37px;
    margin-right: 41px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    transition-property: transform;
    transition-duration: 1s;
}
.requestServiceBottom {
    padding-top: 30px;
    padding-left: 20px;
}
.requestServiceBottom p {
    color:#231f20;
    font-size: 13px;
    text-align: left;
    width: 70%;
    line-height: 1.4em;
    -webkit-transition: all ease 2.2s;
    -moz-transition: all ease 2.2s;
    transition: all ease 2.2s;
}

i.flaticon-fastforward4 {
    background-color: rgba(0, 108, 119, 1);
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 7px;
    padding-bottom: 5px;
    margin-left: 10px;

}

img.rotateCog {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    transition-property: transform;
    transition-duration: 1s;
}

.requestServiceBox:hover > .requestServiceTop img {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.moneyCardBox {
    display: inline-block;
    position: relative;
    vertical-align: top;
    border-radius: 3px;
    width:430px;
    height:230px;
    margin: 0 auto;
    margin-top: -85px;
    background: #fff;
}
.moneyCardTop {
    padding-top: 20px;
    padding-left: 30px;
    height:70px;
    background: #fff;
    -moz-box-shadow: inset 0 0 0 0 #80c342;
    -webkit-box-shadow: inset 0 0 0 0 #80c342;
    box-shadow: inset 0 0 0 0 #80c342;
    -webkit-transition: all ease 1.5s;
    -moz-transition: all ease 1.5s;
    transition: all ease 1.5s;
}
.moneyCardTop h2 {
    color:#231f20;
    text-align: left;
    font-size: 23px;
    padding-bottom: 10px;
    -webkit-transition: all ease 1.8s;
    -moz-transition: all ease 1.8s;
    transition: all ease 1.8s;
}
.moneyCardBottom {
    padding-top: 20px;
    padding-left: 20px;
    background: #80c342;
    border-radius: 2px;
    height:170px;
    text-align: left;
    /*-moz-box-shadow:    inset 0 -1px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.18);
    box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.18);*/
}
.moneyCardBottom p {
    color:#fff;
    font-size: 14px;
    text-align: left;
    line-height: 1.4em;
}
.moneyCardBottom img {
    padding-top: 30px;
    width:70px;
    margin-right: 30px;
}

.moneyCardBox:hover > .moneyCardTop {
    box-shadow: inset 0 -280px 0 0 #80c342;
}
.moneyCardBox:hover > .moneyCardTop h2 {
    color:#fff;
}
.requestServiceBox:hover > .requestServiceBottom p{
    color:#fff;
}

.whatWeDoBoxes {
    margin: 0 auto;
    text-align: center;
    padding-bottom:50px;
}

.sectionTitle {
    margin-bottom: 40px;
}

.sectionTitle h1 {
    font-size: 28px;
    font-family: 'Raleway-Light';
    text-transform: uppercase;
    letter-spacing: 0.1em;

}

.wwdBox {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    background: #fff;
    padding: 30px;
    text-align: left;
    margin-right: 2%;
    -moz-box-shadow:    inset 0 -1px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.18);
    box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.18);
}

.wwdBox:last-child {
    margin-right: 0;
}

.wwdBox h2 {
    font-size: 24px;
    color:#231f20;
    padding-bottom: 20px;
    font-family: 'apercu_medium_pro';
}

.wwdBox img {
    padding-bottom: 20px;
    width: 100%;
    height: 180px;
}

.wwdBox p {
    font-size: 15px;
    color:#231f20;
    padding-bottom: 20px;
    height: 95px;
    margin-bottom: 20px;
    overflow: hidden;
}

a.learnMore {
    text-transform: uppercase;
    font-size: 17px;
    font-family: 'Raleway-Medium';
    letter-spacing: 0.2em;
    color:#00a89e;
}
i.flaticon-washing11,
i.flaticon-spanner9,
i.flaticon-smiling36  {
    font-size: 20px;
    padding-right: 5px;
}

.newsletterBox {
    background: url('img/newsletter_bg.png') no-repeat;
    width: 100%;
    text-align: center;
    height:180px;
    margin-bottom: 40px;
    padding-top: 1px;
}
.newsletterBox h1 {
    color:#fff;
    font-size: 42px;
    margin-top: 12px;
    font-family: 'Tiempos-Headline-Medium';
    letter-spacing: 0.05em;
}

input.newsletterEmail {
    width:43%;
    height:50px;
    color:#949494;
    font-size: 20px;
    padding-left: 15px;
    vertical-align: top;
}
input.updateBtn {
    background:transparent;
    height:50px;
    width:200px;
    vertical-align: top;
    margin-left: 8px;
    border:4px solid #f4e9a7;
    color:#f4e9a7;
    font-size: 16px;
    font-family: 'Raleway-Medium';
    text-transform: uppercase;
}

ul.newsletterBullets {
    display: inline-block;
    background: #00aeaf;
    padding: 10px 10px 15px 40px;
    margin-top: -12px;
}
ul.newsletterBullets li {
    color:#fff;
    font-size: 11px;
    font-family: 'Tiempos-Headline-Medium';
    text-align: left;
    list-style-type: disc;
    line-height: 1.5em;
}

.tidbitsSection {
    width:980px;
    margin: 0 auto;
    text-align: left;
}
.questionBox {
    width: 60%;
    margin-left: 2%;
    text-align: left;
    margin-bottom: 20px;
    display: inline-block;
}
.questionBox h1 {
    color:#00a89e;
    font-size: 37px;
    font-family: 'Tiempos-Headline-Medium';
    text-indent: 30px;
    margin-bottom: 15px;
    letter-spacing: 0.05em;
}
.askAndrew {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    -moz-box-shadow:    inset 0 -1px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.18);
    box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.18);
}
.askAndrew img {
    display: inline-block;
    width:160px;
}
.askAndrew p {
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
    padding-left: 20px;
    font-size: 17px;
    width: 60%;
}
a.askHere{
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Raleway-Medium';
    letter-spacing: 0.2em;
    color:#00a89e;
    line-height: 3em;
}

.testimonialsBox {
    width: 60%;
    margin-left: 2%;
    text-align: left;
    margin-bottom: 100px;
    background: #fff;
    border-radius: 4px;
    display: inline-block;
    -moz-box-shadow:    inset 0 -1px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.18);
    box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.18);
}
.testimonialsBox h3 {
    text-transform: uppercase;
    color:#00a89e;
    font-size: 18px;
    font-family: 'Raleway-Light';
    letter-spacing: 0.2em;
    background: #f4e9a7;
    padding:6px 0 6px 20px;
    -moz-box-shadow:    inset 0 -1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.1);
}
.testimonialsBox p {
    padding: 15px 0 10px 20px;
    width: 90%;
    line-height: 1.75em;
    font-size: 12px;
}
img.testImg {
    float: left;
    margin-right: 25px;
    margin-bottom: 50px;
}
img.leaseImg {
    float: left;
    margin-right: 25px;
    margin-bottom: 50px;
    max-width: 200px;
}
h6.propText {
    margin-top: 0 !important;
}
.singleTestWrapper {
    overflow: hidden;
}
button.backTest {
    background: #333;
    color: #fff;
    border: 0;
    border-radius: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'apercu_medium_pro';
    font-size: 15px;
    padding: 10px;
    width: 230px;
    margin-bottom: 50px;
    display: block;
}
button.backPost {
    background: #333;
    color: #fff;
    border: 0;
    border-radius: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'apercu_medium_pro';
    font-size: 15px;
    padding: 10px;
    width: 230px;
    margin-bottom: 20px;
    display: block;
}
button.backTest:hover {
    background: #000;
}
a.manual-pdf {
    font-size: 15px;
    line-height: 3em;
}
a#readMore {
    text-transform: uppercase;
    color: #00a89e;
    padding-left:7px;
}

.eventsBox {
    width: 30%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
    float: right;
    background: #fff;
    border-radius: 4px;
    display: inline-block;
    -moz-box-shadow:    inset 0 -1px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.18);
    box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.18);
    margin-top: 110px;
    padding:20px;
    height:300px;
}

.eventsBox h2 {
    font-size: 18px;
    font-family: 'Raleway-Light';
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding-bottom: 8px;
    border-bottom: 1px solid #231f20;
}
.newsEventsBox h2{
    font-size: 18px;
    font-family: 'Raleway-Light';
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding-bottom: 8px;
    border-bottom: 1px solid #231f20;
    margin-bottom: 40px;
}
.upcomingEvent {
    overflow: hidden;
    padding-top: 12px;
    padding-bottom: 20px;
    border-bottom:1px solid rgba(35, 31, 32, 0.2);
}
body.news-events .upcomingEvent {
    padding-bottom: 40px;
    margin-bottom: 30px;
}
.upcomingEvent p {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.upcomingEvent a {
    font-size: 14px;
}
.upcomingEvent a:hover {
    text-decoration: underline;
}
.upcomingEvent:last-child {
    border-bottom: 0;
}
.dateBox {
    float: left;
    text-align: center;
    width:55px;
}
body.news-events .dateBox {
    width: 100px;
}
.dateBorder {
    border-width: 2px;
    border-style:solid;
    padding: 10px 0;
    border-radius: 5px;
    margin-bottom: 3px;
}
span.month{
    font-size: 14px;
}
span.bigMonth{
    font-size: 28px;
}
span.date{
    font-size: 20px;
    font-weight: bold;
    line-height: 0.75em;
}
span.bigDate{
    font-size: 32px;
    font-weight: bold;
    line-height: 0.75em;
}
.eventDetails {
    float: right;
    width:70%;
}
.eventDetails h3 {
    font-size: 15px;
    line-height: 1.1em;
}
.eventDetails p {
    font-size: 12px;
    line-height: 1.5em;
}
.eventDetails a {
    color:#444;
}
/*------------------------------------*\
    PAGE
\*------------------------------------*/

/*
The Hercules Difference
*/

.pageHero img {
    min-height: 690px;
}

.heroBox {
    position: absolute; 
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    top:200px;
    color:#fff;
    width:980px;
    
}

.heroBox h1 {
    width: 100%;
    color:#fff;
    font-family: 'Tiempos-Headline-Medium';
    -webkit-font-smoothing: antialiased;
    font-size:76px;
    letter-spacing: 0.075em;
    text-align: center;
    margin-bottom: 10px;
}

.heroSubBox {
    background:rgba(0, 0, 0, 0.72);
    position: relative;
    width:220px;
    padding: 5px;
    float:right;
}
.heroBox p {
    font-size: 14px;
    line-height: 1.4em;
}
.heroBox p a {
    color:#fff;
}
.heroBox p a:hover {
    text-decoration: underline;
}

.heroBox h3 {
    width: 100%;
    color:#fff;
    font-family: 'apercu_medium_pro';
    -webkit-font-smoothing: antialiased;
    font-size:36px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 150px;
}
.heroBox h4 {
    width: 100%;
    color:#fff;
    font-family: 'apercu_medium_pro';
    -webkit-font-smoothing: antialiased;
    font-size:62px;
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.pageSectionOne {
    width:100%;
    margin:0 auto;
    background: url('img/iris_bg.png') no-repeat;   
    background-size: 100% 100%;
}
.sectionWrapper {
    width:70%;
    padding-top: 70px;
    padding-bottom: 70px;
    margin: 0 auto;
}
.pageSectionOne h6 {
    font-size: 26px;
    color:#fff;
    text-align: left;
}

.pageSectionOne p {
    font-size: 18px;
    color:#fff;
    text-align: left;
    padding-top: 40px;
    margin: 0 auto;
}

.pageSectionTwo {
    width:100%;
    margin:0 auto;
    background: #fff;   
}
.pageSectionTwo p {
    font-family: 'Tiempos-Headline-Medium';
    font-size: 17px;
    color:#000;
    text-align: left;
    width:100%;
    margin: 0 auto;
    line-height: 1.7em;
    padding-top: 20px;
}

.pageSectionBottom {
    background: #f4e9a7;    
}


.pageSectionBottom .sectionWrapper {
    padding-top:15px;
    padding-bottom: 15px;
}

.requestProposalText {
    display: inline-block;
    width:60%;
}
.pageSectionBottom h3 {
    font-family: 'Tiempos-Headline-Medium';
    color:#000;
    text-align: right;
    font-size: 28px;
}
.requestProposalAction {
    display: inline-block;
    float: right;
    margin-top: 14px;
}

input.reqProposalBtn {
    background: #80c342;
    color:#fff;
    border: 0;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'apercu_medium_pro';
    font-size: 15px;
    padding: 10px;
    width:245px;

}


/*------------------------------------*\
    INSTALLATIONS PAGE
\*------------------------------------*/


body.installations .pageHero img{
    height: 500px;
    min-height: auto;
    width: 100%;
}   
body.installations .sectionWrapper {
    padding-top: 40px;
    padding-bottom: 50px;
}
body.installations .toggleBlock {
    width:100%;
    margin:0 auto;
    padding-top: 12px;
    height: auto;
    background: #fff;   
    -moz-box-shadow:    inset  0  8px 8px -8px #696868;
    -webkit-box-shadow: inset  0  8px 8px -8px #696868;
    box-shadow:        inset  0  8px 8px -8px #696868;
}
body.installations .toggleBlock:hover {
    cursor: pointer;
}
body.installations .toggleBlock h4 {
    font-family: 'Tiempos-Headline-Medium';
    font-size: 20px;
    color:#000;
    text-align: center;
    width:100%;
    margin: 0 auto;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
body.installations .toggleAnswer {
    height: auto;
    padding-bottom: 50px;
}
body.installations .toggleAnswer p {
    font-size: 22px;
    padding-bottom: 20px;
}
body.installations .toggleAnswer ul {
    padding-left: 50px;
}
body.installations .toggleAnswer li {
    font-size: 18px;
    list-style-type: disc;
    text-align: left;
    width: 80%;
    margin: 0 auto;
    line-height: 1.5em;
}

/*------------------------------------*\
    EQUIPMENT PAGE
\*------------------------------------*/

body.equipment-lease-sales .pageHero img{
    height: 500px;
    min-height: auto;
    width: 100%;
}
body.equipment-lease-sales .heroBox h1 {
    font-size: 66px;
}   


/*------------------------------------*\
    INSTALLATION FAQS
\*------------------------------------*/

body.installation-faqs .sectionWrapper {
    padding: 0;
}

.toggleBlock {
    width:100%;
    margin:0 auto;
    text-align: center;
    -moz-box-shadow:    inset  0  8px 8px -8px #696868;
    -webkit-box-shadow: inset  0  8px 8px -8px #696868;
    box-shadow:        inset  0  8px 8px -8px #696868;
}
.toggleQuestion {
    background: #f9fafa;
    padding-top: 30px;
    padding-bottom: 30px;
        -moz-box-shadow:    inset  0  8px 8px -8px #696868;
    -webkit-box-shadow: inset  0  8px 8px -8px #696868;
    box-shadow:        inset  0  8px 8px -8px #696868;
}
.toggleQuestion:hover {
    cursor: pointer;
}
.toggleQuestion h4 {
    font-family: 'Tiempos-Headline-Medium';
    font-size: 16px;
    color:#231f20;
    text-align: left;
    width:80%;
    margin: 0 auto;
    line-height: 1.5em;
    letter-spacing: 0.1em;
}
.toggleAnswer {
    background: #fff;
    height: 150px;
    padding-top: 15px;
        -moz-box-shadow:    inset  0  8px 8px -8px #696868;
    -webkit-box-shadow: inset  0  8px 8px -8px #696868;
    box-shadow:        inset  0  8px 8px -8px #696868;
}
.toggleAnswer p {
    font-size: 15px;
    font-family: 'apercu_regular_pro';
    font-weight: normal;
    line-height: 1.5em;
    color: #178e9c;
    width: 80%;
    margin: 0 auto;
    text-align: left;
}


/*------------------------------------*\
    CUSTOMER SERVICE PAGE
\*------------------------------------*/
body.customer-service .pageHero img{
    height: 500px;
    min-height: auto;
    width: 100%;
}
body.customer-service .heroBox h1 {
    font-size: 66px;
}
body.customer-service .sectionWrapper {
    padding: 0;
}

body.customer-service .toggleBlock {
    width:100%;
    margin:0 auto;
    text-align: center;
    -moz-box-shadow:    inset  0  8px 8px -8px #696868;
    -webkit-box-shadow: inset  0  8px 8px -8px #696868;
    box-shadow:        inset  0  8px 8px -8px #696868;
}
body.customer-service .toggleQuestion {
    background: url('img/iris_bg.png') no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
        -moz-box-shadow:    inset  0  8px 8px -8px #696868;
    -webkit-box-shadow: inset  0  8px 8px -8px #696868;
    box-shadow:        inset  0  8px 8px -8px #696868;
}
body.customer-service .toggleQuestion h4 {
    font-family: 'Tiempos-Headline-Medium';
    font-size: 16px;
    color:#fff;
    text-align: left;
    width:80%;
    margin: 0 auto;
    line-height: 1.5em;
    letter-spacing: 0.1em;
}
body.customer-service .toggleAnswer {
    background: #fff;
    height: 100px;
    padding-top: 15px;
        -moz-box-shadow:    inset  0  8px 8px -8px #696868;
    -webkit-box-shadow: inset  0  8px 8px -8px #696868;
    box-shadow:        inset  0  8px 8px -8px #696868;
}
body.customer-service .toggleAnswer p {
    font-size: 14px;
    font-family: 'apercu_regular_pro';
    font-weight: normal;
    line-height: 1.5em;
    color: #231f20;
    width: 80%;
    margin: 0 auto;
    text-align: left;
}


/*------------------------------------*\
    INNER PAGE TEMPLATE ONE
\*------------------------------------*/

.templateSectionOne {
    position: relative;
    height: auto;
    padding-top: 105px;
    width: 100%;
    margin: 0 auto;
    background: url('img/iris_bg.png') no-repeat;
    background-size: cover;
}
img.templateBanner {
    width: 100%;
    margin-top: 20px;
}
.templateSectionOne h1 {
    position: absolute;
    top:55%;
    margin: 0 auto;
    left:0;
    right:0;
    font-family: 'Tiempos-Headline-Medium';
    font-size: 48px;
    letter-spacing: 0.05em;
    text-align: center;
    color:#fff;
}
.templateSectionMain {
    background-color: #fff;
}
.templateSectionMain h6 {
    font-size: 26px;
    color: #000;
    text-align: left;
    margin-top: 50px;
}
.templateSectionMain p {
    font-size: 18px;
    color: #000;
    text-align: left;
    padding-top: 40px;
    margin: 0 auto;
}
.singlePostWrapper p {
    padding-top: 10px;
}
.templateSectionMain ul {
    padding-left: 50px;
}
.templateSectionMain ul li {
    font-size: 18px;
    color: #000;
    text-align: left;
    list-style-type: disc;
    padding-top: 40px;
    margin: 0 auto;
}
.templateSectionMain ul li strong {
    color:#178e9c;
}

div.testNY {
    overflow: hidden;
}
div.testBlock {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    text-align: center;
    margin-bottom: 30px;
}

div.testBlock h4{
    font-family: 'Tiempos-Headline-Medium';
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 0;
    padding-bottom: 6px;
    text-transform: uppercase;
    text-align: center;
    height: auto;
}
div.testBlock h5{
    font-size: 12px;
    line-height: 1.5em;
    padding-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
}
div.testBlock p {
    letter-spacing: 0.025;
    width: 80%;
    margin: 0 auto;
}
div.testBlockHead {
    height: 80px;
}
div.testBlock img {
    border: 1px solid #178e9c;
    -moz-box-shadow:    inset  0  8px 8px -8px #696868;
    -webkit-box-shadow: inset  0  8px 8px -8px #696868;
    box-shadow:        inset  0  8px 8px -8px #696868;
    margin-bottom: 15px;
    width: 230px;
    height: 165px;
}
/*------------------------------------*\
    CONTACT US PAGE
\*------------------------------------*/
.gm-style .place-card-large{
    display: none !important;
}
.iframeHack iframe{
     margin-top: -150px;
}
h1.contact-us-h1 {
    color:#231f20;
}
.contactBlock {
    width:980px;
    margin:0 auto;
    overflow: hidden;
    padding-top: 100px;
}
.contactBox {
    box-shadow: 0px 1px 5px 0px rgba(2,2,2,1);
    overflow: hidden;
}
.contactTrigger {
    width: 280px;
    height: 900px;
    float: left;
    background: url('img/iris_bg.png') no-repeat;
    background-size: cover;
    box-shadow: 0px 1px 5px 0px rgba(2,2,2,1);
}
.contactTrigger ul li  {
    padding:20px;
    border-bottom: 1px solid rgba(0,74,82,0.2);
    box-shadow: 0px 1px 1px 0px rgba(0,74,82,1);
}
.contactTrigger ul li:hover {
    background-color: #fff;
    
}
.contactTrigger ul li:hover > a {
    color:#231f20;
}
.contactTrigger ul li a {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #fff;

}
.contactReveal {
    width:700px;
    height: 900px;
    overflow: auto;
    float: left;
    padding: 40px;
    box-shadow: 0px 1px 5px 0px rgba(51,51,3,1);
    background-color: #fff;
}
.contactReveal h4{
    font-family: 'Tiempos-Headline-Medium';
    font-size: 22px;
    line-height: 1.5em;
    padding-bottom: 15px;
    text-transform: uppercase;
    text-align:center;
    margin-bottom: 20px;
}
.contactReveal h3{
    font-family: 'Tiempos-Headline-Medium';
    font-size: 18px;
    line-height: 1.5em;
    padding-bottom: 15px;
    text-transform: uppercase;
    text-align:left;
    margin-bottom: 20px;
}
.contactReveal ul li {
    font-size: 14px;
    padding-bottom: 10px;
}
.contactReveal p{
    font-size: 13px;
    font-family: 'apercu_regular_pro';
    font-weight: normal;
    color: #231f20;
    letter-spacing: 0.1em;
    padding-bottom: 10px;
}
.contactReveal div.wpcf7 {
    margin-top: 40px;
    width: 70%;
}
.contactReveal div.wpcf7 input{
    margin-top: 5px;
    margin-bottom: 10px;
    height: 26px;
    width: 100%;
    border: 1.5px solid #eaeae9;
    border-radius: 5px;
    font-size: 12px;
    color: #9a9a9a;
    text-align: center;
    text-transform: uppercase;
    margin-right: 20px;
}
.contactReveal div.wpcf7 input[type='checkbox'] {
    width: auto;
    vertical-align: middle;
}
.contactReveal div.wpcf7 textarea {
    margin-top: 10px;
    width: 100%;
    border: 1.5px solid #eaeae9;
    border-radius: 5px;
    font-size: 12px;
    color: #9a9a9a;
    text-align: center;
    text-transform: uppercase;
    margin-right: 20px;
}
.contactReveal div.wpcf7 input.wpcf7-form-control.wpcf7-submit {
    border: 0;
    border-radius: 5px;
    font-size: 12px;
    background: #27c762;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.askAndrewBlock {
    margin: 70px auto 10px;
    text-align: center;
}
.askAndrewBlock h5 {
    font-size: 24px;
    font-family: 'Tiempos-Headline-Medium';
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 0.05em;
    color:rgba(0,74,82,1);
}
.askAndrewBlock p {
    padding-top: 15px;
    text-align: center;
    font-size: 15px;
    width: 80%;
    margin: 0 auto;
    color:#fff;
}
.askAndrewBlock a.askHere {
    color:rgba(0,74,82,1);
}
.employeeList h4 {
    margin-bottom: 10px;
}
.employeeList ul {
    text-align: center;
    margin-bottom: 15px;
}
.employeeList ul li{
    display: inline-block;
    width: 48%;
    margin: 0 auto;
}
.employeeList ul li a {
    color:#178e9c;
}
table.jobPosting {
    width: 100%;
}
table.jobPosting th,
table.jobPosting td{
    text-align: left;
}
table.jobPosting th {
    font-size: 14px;
    text-transform: uppercase;
    height: 50px;
}
table.jobPosting td {
    font-size: 13px;
    padding-top: 20px;
}
tr.postingHeader {
    background: #dcdcdc;
}
/*------------------------------------*\
    COLOR PICKER
\*------------------------------------*/

.black {
    color:#000 !important;
}
.iris {
    color:#00aeaf !important;
}
.irisBorder {
    border-color:#00aeaf !important;
}
.mantis {
    color:#80c342 !important;
}
.mantisBorder {
    border-color:#80c342 !important;
}
.coke {
    color:#fff !important;
}
.cokeBorder {
    border-color:#fff !important;
}
/*------------------------------------*\
    FOOTER
\*------------------------------------*/
.siteFooter p {
    color:#fff;
    font-size: 16px;
    font-family: 'Raleway-Bold';
    text-transform: uppercase;
    display: inline-block;
}

/*------------------------------------*\
    STICKY FOOTER
\*------------------------------------*/
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.siteWrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -70px; 
}
.siteWrapper:after {
  content: "";
  display: block;
}
.siteFooter, .siteWrapper:after {
  height: 70px; 
}
.siteFooter {
    padding:25px 25px 0 25px;
    background: url('img/footer_bg.png') no-repeat;
}


/*------------------------------------*\
    ANIMATIONS/CUSTOM EFFECTS
\*------------------------------------*/

.scrollerAnchor{
    height:0px; 
    margin:-4px 0 0 0 ; 
    padding:0;
}
.scroller {
    margin:0 0 10px; 
    z-index:100;  
    font-size:18px; 
    font-weight:bold; 
    text-align:center; 
    width:100%;
}

@media only screen and (max-width:980px) {
    .scroller {
        width:100%;
    }
}


/*------------------------------------*\
    MOBILE
\*------------------------------------*/

.mobileTopWrapper {
    padding: 20px 25px 14px;
    border-bottom: 3px solid #efefee;
    text-align: center;
    display: none;
}

img#RM3Lines {
    width: 50px !important;
}
.phoneImg {
    width: 50px;
    position: absolute;
    right: 5%;
    top:16px;
}

/*------------------------------------*\
    WOOCOMMERCE DEFAULTS
\*------------------------------------*/

.woocommerce .woocommerce-message {
    font-size: 12px;
}


/*------------------------------------*\
    SINGLE PRODUCT PAGE
\*------------------------------------*/
body.single-product .woocommerce-breadcrumb {
    display: none;
}
body.single-product aside.sidebar {
    display: none;
}
body.single-product .woocommerce-tabs.wc-tabs-wrapper{
    display: none;
}
body.single-product .product_meta {
    display: none;
}
body.single-product .quantity {
    display: none !important;
}
body.single-product .woocommerce div.product p.price, .woocommerce div.product span.price {
    display: none;
}

body.single-product div#container {
    overflow: hidden;
}
body.single-product div#content {
    padding-top: 230px; 
    overflow: hidden;
}
body.single-product div.product div.images img {
    width: 48%;
    margin:0 auto;
}
body.single-product div.product p.price {
    font-size: 14px;
    font-family: 'apercu_regular_pro';
    font-weight: normal;
    color: #231f20;
    text-transform: uppercase;
}
body.single-product form.variations_form.cart {
    margin-top: 40px;
}
body.single-product table.variations td.label{
    font-size: 15px;
    font-family: 'apercu_regular_pro';
    font-weight: normal;
    color: #231f20;
    text-transform: uppercase;
}
body.single-product table.variations td {
    display: block;
}

body.single-product select#reload-amount {
    height: 26px;
    width: 100px;
    border: 1.5px solid #231f20;
    border-radius: 5px;
    font-size: 12px;
    color: #231f20;
    text-align: center;
    text-transform: uppercase;
    margin-right: 20px;
}
body.single-product td.value {
    width: 200px;
}
body.single-product button.single_add_to_cart_button.button.alt {
    margin-right: 10px;
    height: 30px;
    width: 154px;
    border: 0;
    font-size: 11px;
    font-family: 'Raleway-Medium';
    background: #27c762 !important;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
body.single-product .woocommerce-variation-add-to-cart.variations_button {
    overflow: hidden;
}
div [itemprop="description" ] {
    color: #231f20;
    font-size: 13px;
    text-align: left;
    width: 70%;
    line-height: 1.4em;
    margin-top: 15px;
}
div [itemprop="description" ] p {
    padding-top: 10px;
    padding-bottom: 5px;
}


/*------------------------------------*\
    CART PAGE
\*------------------------------------*/
body.cart section {
    padding-top: 220px;
    width: 70%;
    margin: 0 auto;
}

body.cart section h1 {
    font-size: 34px;
    font-family: 'Raleway-Light';
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
body.cart table.shop_table.shop_table_responsive.cart th {
    color: #231f20;
    font-size: 13px;
    text-align: left;
    line-height: 1.4em;
    text-transform: uppercase;
}
body.cart table.shop_table.shop_table_responsive.cart td {
    font-size: 12px;
}
body.cart table.cart img {
    width: 100px;
}
.woocommerce a.remove {
    color:#000 !important;
}

.woocommerce a.remove:hover {
    background:#000;
}
body.cart input#coupon_code {
    height: 26px;
    width: 154px;
    border: 1.5px solid #eaeae9;
    border-radius: 5px;
    font-size: 12px;
    color: #9a9a9a;
    text-align: center;
    text-transform: uppercase;
    margin-right: 20px;
}

body.cart .coupon input.button {
    height: 26px;
    width: 154px;
    border: 0;
    font-size: 11px;
    font-family: 'Raleway-Medium';
    background: rgba(0, 174, 175, 0.8);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

body.cart a.checkout-button.button.alt.wc-forward {
    border: 0;
    border-radius: 5px;
    font-size: 12px;
    background: #27c762;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
body.cart table.shop_table.shop_table_responsive.cart input[name="update_cart"] {
    height: 26px;
    width: 154px;
    border: 0;
    font-size: 11px;
    font-family: 'Raleway-Medium';
    background: rgba(128, 195, 66, 0.8);
    color: #fff;
    text-align: center;
    text-transform: uppercase;

}
body.cart table.shop_table.shop_table_responsive {
    font-size: 12px;
}
body.cart .cart_totals h2 {
    font-size: 18px;
    font-family: 'Raleway-Light';
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 8px;
    margin-bottom: 15px;
}


/*------------------------------------*\
    CHECKOUT PAGE
\*------------------------------------*/
body.checkout section {
    padding-top: 220px;
    width: 70%;
    margin: 0 auto;
}

body.checkout section h1 {
    font-size: 34px;
    font-family: 'Raleway-Light';
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
body.checkout div#customer_details h3 {
    color: #231f20;
    font-size: 13px;
    text-align: left;
    line-height: 1.4em;
    text-transform: uppercase;
    padding-bottom: 8px;
}
body.checkout form .form-row label {
    font-size: 12px;
}

body.checkout .woocommerce-billing-fields input {
    height: 26px;
    border: 1.5px solid #eaeae9;
    border-radius: 5px;
    font-size: 12px;
    color: #9a9a9a;
    text-align: left;
    text-transform: uppercase;
    margin-right: 20px;
}

body.checkout p#order_comments_field textarea {
    border: 1.5px solid #eaeae9;
    border-radius: 5px;
    font-size: 12px;
    color: #9a9a9a;
    text-align: left;
    text-transform: uppercase;
    margin-right: 20px;
}
body.checkout h3#order_review_heading {
    margin-top: 50px;
    font-size: 18px;
    font-family: 'Raleway-Light';
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
}

body.checkout input#place_order {
    border: 0;
    border-radius: 5px;
    font-size: 12px;
    background: #27c762;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

body.checkout .woocommerce table.shop_table th,
body.checkout .woocommerce table.shop_table td {
    font-size: 12px;
}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
    background:#04A4CC;
    color:#FFF;
    text-shadow:none;
}
::-webkit-selection {
    background:#04A4CC;
    color:#FFF;
    text-shadow:none;
}
::-moz-selection {
    background:#04A4CC;
    color:#FFF;
    text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
    margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display:block;
    margin:5px auto 5px auto;
}
.alignright {
    float:right;
    margin:5px 0 20px 20px;
}
.alignleft {
    float:left;
    margin:5px 20px 20px 0;
}
a img.alignright {
    float:right;
    margin:5px 0 20px 20px;
}
a img.alignnone {
    margin:5px 20px 20px 0;
}
a img.alignleft {
    float:left;
    margin:5px 20px 20px 0;
}
a img.aligncenter {
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.wp-caption {
    background:#FFF;
    border:1px solid #F0F0F0;
    max-width:96%;
    padding:5px 3px 10px;
    text-align:center;
}
.wp-caption.alignnone {
    margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin:5px 20px 20px 0;
}
.wp-caption.alignright {
    margin:5px 0 20px 20px;
}
.wp-caption img {
    border:0 none;
    height:auto;
    margin:0;
    max-width:98.5%;
    padding:0;
    width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
    font-size:11px;
    line-height:17px;
    margin:0;
    padding:0 4px 5px;
}

/*------------------------------------*\
    RESPONSIVE MENU
\*------------------------------------*/
ul#menu-header-menu-1 {
    padding-top: 60px;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (max-width:980px) {
    .header {
        width:100%;
        min-height:152px; 
    }
    .proposalBtn,
    .requestServiceBtn {
        margin: 0 0 7px 7px;
    }
    .slider {
        padding-top: 130px;
    }
    .pageHero {
        padding-top: 130px;
    }
    .pageWrapper {
        width:90%;
    }
    .pageHero img {
        min-height:auto;
    }
    .heroBox {
        width:90%;
    }
    .heroBox h1 {
        font-size: 50px;
    }
    .heroBox h3 {
        margin-top: 100px;
        font-size: 30px;
    }
    .heroBox h4 {
        font-size: 36px;
    }
    .sectionWrapper {
        width:90%;
    }
    .pageSectionOne p {
        width:90%;
    }
    .ms-nav-prev, 
    .ms-nav-next{
        display: none;
    }
    .requestServiceBox,
    .moneyCardBox {
        width:100%;
        height:180px;
    }
    .requestServiceBox {
        margin-top: -30px;
    }
    .requestServiceTop {
        padding-top: 20px;
        height:120px;
    }
    .requestServiceTop p {
        display: block;
    }
    .requestServiceTop img {
        display: none;
    }
    .requestServiceBottom {
        padding-top:20px;
    }
    .moneyCardBox {
        margin-top: 20px;
    }
    .moneyCardBottom {
        height: 150px;
    }
    .wwdBox {
        padding: 20px;
    }
    .wwdBox h2 {
        font-size:19px;
    }
    a.learnMore {
        font-size: 14px;
    }
    .newsletterBox h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .tidbitsSection {
        width:90%;
    }
    .questionBox h1 {
        text-align: center;
    }
    .questionBox {
        width:100%;
        margin-left: 0;
    }
    .askAndrew p {
        width:65%;
    }
    .eventsBox {
        width:100%;
        margin:0 auto;
        float:none;
    }
    .testimonialsBox {
        width:100%;
        margin-top: 20px;
        margin-left: 0;
    }
    .pageSectionBottom h3 {
        font-size: 24px;
    }

}
@media only screen and (max-width:730px) {
    .logo {
        margin-right:0;
    }
    .requestServiceBtn,
    .proposalBtn {
        float: none;
        border-radius: 7px;
    }
    .requestServiceBtn {
        margin-left:0;
    }
    .header {
        min-height:130px;
    }
    .headerTopWrapper,
    .nav {
        display: none;
    }
    .mobileTopWrapper {
        display: block;
    }
    .headerBottomWrapper {
        text-align: center;
        padding-top: 0;
    }

    .slider h1 {
        font-size: 28px;
        top:150px;
    }
    .heroBox h1 {
    font-size: 36px;
    }
    .heroBox h3,
    .heroBox h4, 
    .heroSubBox {
        display: none;
    }

    .wwdBox {
        width:100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .wwdBox:nth-child(even) {
        float:left;
    }
    .wwdBox:nth-child(odd) {
        float:right;
    }
    .whatWeDoBoxes {
        overflow: hidden;
    }
    .newsletterBox h1 {
        font-size: 24px;
    }
    ul.newsletterBullets {
        display: none;
    }
    input.newsletterEmail {
        font-size: 16px;
    }
    input.updateBtn {
        width:auto;
    }

    .siteFooter {
        text-align: center;
        padding: 10px;
    }
    p.copyright.pull-left {
        float:none;
        padding-bottom: 20px;
        font-size: 13px;
    }
    p.address.pull-right {
        float: none;
        font-size: 12px;
    }
    .requestProposalText {
        display: block;
        width:100%;
    }
    .pageSectionBottom h3 {
        text-align: center;
    }
    .requestProposalAction {
        display: block;
        float:none;
        text-align: center;
    }

}
@media only screen and (max-width:600px) {
    header {
        height: 75px !important;
        min-height: 75px !important;
    }
    .headerBottomWrapper {
        display: none;
    }
    .pageSectionBottom  {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .pageSectionBottom h3 {
        font-size: 20px;
    }
    .slider {
        padding-top: 55px;
    }
    .slider h1 {
        top:100px;
    }
    .requestServiceBox {
        margin-top: 0;
    }
    .templateSectionOne {
        padding-top: 55px;
    }
    img.templateBanner {
        min-height: 200px;
    }
    .templateSectionOne h1 {
        top:40%;
        font-size: 36px;
    }
    .pageSectionOne {
        background-size: cover;
    }
    .pageSectionOne h6,
    .templateSectionMain h6 {
        font-size: 22px;
        text-align:center;
    }
    body.installations .toggleBlock h4 {
        font-size: 17px;
    }
    .pageSectionOne p,
    .templateSectionMain p,
    body.installations .toggleAnswer p {
        font-size: 16px;
        text-align:center;
    }
    .templateSectionMain p {
        padding-top: 20px;
    }
    .templateSectionMain ul li,
    body.installations .toggleAnswer li {
        font-size: 16px;
        padding-top: 20px;
    }
    .toggleAnswer {
        height: auto;
        padding-bottom: 15px;
    }
    .toggleQuestion h4,
    .toggleAnswer p {
        text-align: center;
    }
    .pageSectionTwo p {
        font-size: 15px;
        text-align: center;
    }
    .contactBlock {
        width: 100%;
        padding-top: 0;
    }
    .contactTrigger {
        width: 100%;
        height: auto;
        float: none;
    }
    .contactTrigger ul li {
        text-align: center;
    }
    body.testimonials .askAndrewBlock {
        display: none;
    }
    .contactReveal {
        width: 100%;
        height: auto;
    }
    div.testBlock {
        width: 100%;
    }

    body.request-a-proposal .contactTrigger {
        display: none;
    }

    .contactReveal div.wpcf7 {
        width: 100%;
    }
    img.leaseImg {
        float: none;
        margin: 0 auto 15px;
    }
    body.lease-equipment .sectionWrapper {
        text-align: center;
    }

    body.news-events .dateBox {
        width: 200px;
        float: none;
        margin: 0 auto 20px;
    }
    body.news-events .eventDetails h3 {
        text-transform: uppercase;
    }
     body.news-events .eventDetails {
        float: none;
        width: 100%;
        text-align: center;
    }

    .askAndrew p {
        width:100%;
        padding-top: 15px;
        padding-left: 0;
    }
    .heroBox h1 {
        font-size: 25px;
    }
    .sectionWrapper {
        padding-top: 30px;
    }
    body.single-product div.product div.summary {
        text-align: center;
    }
    body.single-product div [itemprop="description" ] p {
        text-align: center;
    }
    body.single-product div [itemprop="description"] {
        margin: 15px auto;
    }
    body.single-product table.variations td {
        margin: 0 auto;
    }
    body.single-product button.single_add_to_cart_button.button.alt {
        margin: 0 auto;
        width: 60%;
    }
    body.single-product div.product form.cart .button {
        float: none;
    }
    body.single-product select#reload-amount {
        margin: 0 auto;
    }
    body.single-product a.reset_variations {
        display: block;
    }
    body.cart section,
    body.checkout section {
        padding-top: 150px;
    }
    body.cart section h1 {
        text-align: center;
    }
    body.cart input#coupon_code {
        width: 100%;
        margin-bottom: 10px;
    }
    body.cart table.shop_table.shop_table_responsive.cart input[name="apply_coupon"] {
        width: 100%;
    }
    body.cart table.shop_table.shop_table_responsive.cart input[name="update_cart"] {
        width: 100%;
    }
}
